form {
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 2px 8px rgb(145, 138, 138);
}

button{
    border-radius: 8px;
    background-color: #4CAF50;
    border-color: #4CAF50;
}