form {
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgb(145, 138, 138);
}

button {
    border-radius: 5px;
}

.fixed-side {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    background-color: #f0f0f0;
    padding: 20px;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 10px;
    background-color: white; 
    padding: 10px;
    margin: 10px; 
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    padding: 20px;
    border-radius: 8px;
    width: 300px;
  }